<footer id="contacts" class="footer">
  <div class="container">
    <div class="wrapper">
      <div class="plus-wrapper">
        <a class="footer-logo" href="./index.html">
          <svg class="footer-icon" width="127px" height="20px">
            <use href="./icons/icons-sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="footer-address">
          <a class="address-link" href="tel:+380665438912"
            >UA: +38 066 543 8912</a
          >
          <p class="address-text">Ukraine, Kyiv</p>
        </address>
      </div>
      <div class="thumb">
        <ul class="footer-list">
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram</a
            >
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook</a
            >
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="footer-menu">
          <li class="footer-item">
            <a class="footer-link" href="./#about-us">About us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="./#our-courses">Our courses</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="./#our-mentors">Our mentors</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="./#reviews">Reviews</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="./#contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <form
        class="footer-form"
        name="Subscribe"
        autocomplete="on"
        method="post"
      >
        <div class="footer-label">
          <label>
            <input
              class="input-footer"
              type="email"
              name="email"
              placeholder="Enter your email"
              id="footer-email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              required
            />
          </label>
          <button class="btn-footer" type="submit" value="Go">Go</button>
        </div>
      </form>
    </div>
    <div class="privacy-wrapper">
      <a
        class="privacy-link"
        href="./"
        target="_blank"
        rel="noopener noreferrer"
        >Privacy Policy Public Offering Agreement</a
      >
      <p class="copyright-footer">
        2023 Focus Frame &copy; All rights reserved
      </p>
    </div>
  </div>
</footer>
