<!-- 
<div class="backdrop">
  <div class="mobile-menu">
    <button class="button-close" type="button" aria-label="modal cloce button">
      <svg class="icon-close-btn-menu" width="40" height="40">
        <use href="./icons/close.svg"></use>
      </svg>
    </button>
    <ul class="menu-mob-wrapper">
      <li><a href="#about us" class="menu-mobile-link bold">About us</a></li>
      <li><a href="#our courses" class="menu-mobile-link-normal"></a>Our courses</li>
      <li><a href="#our mentors" class="menu-mobile-link-normal"></a>Our mentors</li>
      <li><a href="#reviews" class="menu-mobile-link-normal"></a>Reviews</li>
      <li><a href="#contacts" class="menu-mobile-link-normal"></a>contacts</li>
    </ul>
<picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/header-menu/menu-photo-tab.jpg    1x,
          ./images/header-menu/menu-photo-tab@2x.png 2x
        "
      />
      <source
        media="(min-width: 320px)"
        srcset="
          ./images/header-menu/menu-photo-mob.jpg    1x,
          ./images/header-menu/menu-photo-mob@2x.png 2x
        "
      />
      <img
        class="mob-menu-img"
        src="./images/header-menu/menu-photo-mob.jpg "
        alt="Camera menu"
        width="329"
        loading="lazy"
      />
    </picture>
  </div>
</div>
-->

<header class="header container">
  <div class="header-wrapper">
    <svg class="header-icon" width="127" height="20">
      <use href="./icons/icons-sprite.svg#icon-logo"></use>
    </svg>
    <ul class="header-list">
      <li class="header-item">
        <a class="header-link" href="#about us">About us</a>
      </li>
      <li class="header-item">
        <a class="header-link" href="#our courses">Our courses</a>
      </li>
      <li class="header-item">
        <a class="header-link" href="#our mentors">Our mentors</a>
      </li>
      <li class="header-item">
        <a class="header-link" href="#reviews">Reviews</a>
      </li>
      <li class="header-item">
        <a class="header-link" href="#contacts">contacts</a>
      </li>
    </ul>
    <div class="nav-wrapper">
      <button class="mobile-favicon" type="button">
        <a class="link-favicon" href="#about us">
          <svg class="mobile-icon" width="16" height="16">
            <use href="./icons/icons-sprite.svg#icon-favicon-header"></use>
          </svg>
        </a>
      </button>
      <button class="burger-button" type="button">
        <svg class="burger-icon" width="32" height="22">
          <use href="./icons/icons-sprite.svg#icon-nav"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="sign-up-header">
    <a class="header-sign-up" href="#sign-up" aria-label="sign up"> Sign up </a>
  </div>
</header>
