<header class="container header-wrapper">
  <div class="header-navigation">
    <nav class="header-nav">
      <ul>
        <li>
          <a href="./index.html" class="header-logo"
            ><img
              class="logo-style"
              src="./icons/logo.svg"
              alt="Site logo"
              width="124"
              height="16"
          /></a>
        </li>
      </ul>
      <ul class="caption-position">
        <li class="header-caption"><a href="#about us"></a>About us</li>
        <li class="header-caption"><a href="#our courses"></a>Our courses</li>
        <li class="header-caption"><a href="#our mentors"></a>Our mentors</li>
        <li class="header-caption"><a href="#reviews"></a>Reviews</li>
        <li class="header-caption"><a href="#contacts"></a>contacts</li>
      </ul>

      <ul class="header-btn">
        <li class="header-style">
          <a class="button-input" href="#sign up" aria-label="sing up"
            >Sign up</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
