<section id="hero" class="hero section">
  <div class="container hero-container">
    <div class="hero-description">
      <div class="hero-description2">
        <h1 class="hero-title">
          Discover the magic of
          <span class="hero-title-span">photography</span> in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
      </div>

      <div class="wrap">
        <div class="hero-users-box">
          <ul class="hero-users-list">
            <li class="hero-users-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/hero/student-1.png    1x,
                    ./images/hero/student-1@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/hero/student-1-mob.png    1x,
                    ./images/hero/student-1-mob@2x.png 2x
                  "
                />
                <img
                  class="hero-users-img"
                  loading="lazy"
                  src="./images/hero/student-1.png"
                  alt="happy student #1"
                />
              </picture>
            </li>
            <li class="hero-users-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/hero/student-2.png    1x,
                    ./images/hero/student-2@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/hero/student-2-mob.png    1x,
                    ./images/hero/student-2-mob@2x.png 2x
                  "
                />
                <img
                  class="hero-users-img"
                  loading="lazy"
                  src="./images/hero/student-2.png"
                  alt="happy student #2"
                />
              </picture>
            </li>
            <li class="hero-users-item"></li>
            <li class="hero-users-item">
              <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/hero/student-3.png    1x,
                    ./images/hero/student-3@2x.png 2x
                  "
                />
                <source
                  media="(min-width: 320px)"
                  srcset="
                    ./images/hero/student-3-mob.png    1x,
                    ./images/hero/student-3-mob@2x.png 2x
                  "
                />
                <img
                  class="hero-users-img"
                  loading="lazy"
                  src="./images/hero/student-3.png"
                  alt="happy student #3"
                />
              </picture>
            </li>
          </ul>

          <div class="hero-happy-students">
            <a class="hero-users-link" href="#reviews">Our happy students</a>
            <a class="hero-users-arrow" href="#reviews">
              <img
                class="hero-icon-arrow"
                src="./icons/arrow-hero.svg"
                alt="hero arrow"
              />
            </a>
          </div>
        </div>
        <div class="hero-reviews-box">
          <div class="hero-star">
            <img src="./icons/star-hero.svg" alt="hero reviews star" />
          </div>
          <div class="hero-reviews">
            <p class="hero-reviews-title">Reviews</p>
            <p class="hero-reviews-value">+1500</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hero-main-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero/thumb-desk.png    1x,
            ./images/hero/thumb-desk@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/thumb-tab.png    1x,
            ./images/hero/thumb-tab@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/hero/thumb-mob.png    1x,
            ./images/hero/thumb-mob@2x.png 2x
          "
        />
        <img
          class="hero-img"
          loading="lazy"
          src="./images/hero/thumb-mob.png"
          alt="happy student with camera"
          width="259"
        />
      </picture>
    </div>
  </div>
</section>
