<section id="our mentors" class="our-mentors section">
  <div class="container mentors">
    <h2 class="title-mentors">Our <span class="title-color">Mentors</span></h2>
    <div class="list-mentors-wrapper">
      <ul class="list-mentors">
        <li class="list-mentor">
          <img
            class="our-mentor"
            srcset="
              ./images/our-mentors/mentor-1.png    1x,
              ./images/our-mentors/mentor-1@2x.png 2x
            "
            src="./images/our-mentors/mentor-1.png"
            alt="Emilia Smith"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="info-mentors">
            <h3 class="name-mentors">Emilia Smith</h3>
            <p class="expierience">1.5 years of experience</p>
          </div>
        </li>
        <li class="list-mentor">
          <img
            class="our-mentor"
            srcset="
              ./images/our-mentors/mentor-2.png    1x,
              ./images/our-mentors/mentor-2@2x.png 2x
            "
            src="./images/our-mentors/mentor-2.png"
            alt="Alex Lebedev"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="info-mentor">
            <h3 class="name-mentors">Alex Lebedev</h3>
            <p class="expierience">3.5 years of experience</p>
          </div>
        </li>
        <li class="list-mentor">
          <img
            class="our-mentor"
            srcset="
              ./images/our-mentors/mentor-3.png    1x,
              ./images/our-mentors/mentor-3@2x.png 2x
            "
            src="./images/our-mentors/mentor-3.png"
            alt="Mia Dubrovska"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="info-mentors">
            <h3 class="name-mentors">Mia Dubrovska</h3>
            <p class="expierience">2.0 years of experience</p>
          </div>
        </li>
        <li class="list-mentor">
          <img
            class="our-mentor"
            srcset="
              ./images/our-mentors/mentor-4.png    1x,
              ./images/our-mentors/mentor-4@2x.png 2x
            "
            src="./images/our-mentors/mentor-4.png"
            alt="Eliot Kovalev"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="info-mentors">
            <h3 class="name-mentors">Eliot Kovalev</h3>
            <p class="expierience">4.0 years of experience</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
