<section class="reviews section">
  <div class="container">
    <h2 class="title-two-reviews">Reviews</h2>

    <ul class="reviews-section-list">
      <li class="reviews-section-item">
        <div class="reviews-name-block">
          <img
            class="reviews-img"
            src="./images/reviews/person-1.png"
            srcset="
              ./images/reviews/person-1.png    1x,
              ./images/reviews/person-1@2x.png 2x
            "
            alt="Picture of Abraham Baker"
          />
          <div class="reviews-name-content">
            <h3 class="title-three-reviews">Abraham Baker</h3>
            <p class="reviews-status">Student</p>
          </div>

          <div class="reviews-star-block">
            <ul class="reviews-icons-list">
              <li class="reviews-icons-item">
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>

        <p class="reviews-text-two">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>

      <li class="reviews-section-item">
        <div class="reviews-name-block">
          <img
            class="reviews-img"
            src="./images/reviews/person-2.png"
            srcset="
              ./images/reviews/person-2.png    1x,
              ./images/reviews/person-2@2x.png 2x
            "
            alt="Picture of Amanda Lowery"
          />
          <div class="reviews-name-content">
            <h3 class="title-three-reviews">Amanda Lowery</h3>
            <p class="reviews-status">Student</p>
          </div>

          <div class="reviews-star-block">
            <ul class="reviews-icons-list">
              <li class="reviews-icons-item">
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
              <li>
                <svg class="reviews-icons" width="20" height="20">
                  <use href="./icons/icons-sprite.svg#icon-star-reviews"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>

        <p class="reviews-text-two">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
