<section id="sign-up" class="sign-up section">
  <div class="sign-up-wrap container">
    <div class="sign-up">
      <h2 class="sign-up-title">Sign<span class="span">Up</span></h2>
      <p class="sign-up-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="form">
        <div class="form-wrapper">
          <input
            required
            class="form-input"
            type="text"
            id="user-name"
            name="user-name"
            placeholder="Enter your name"
          />
        </div>
        <div class="form-email">
          <input
            required
            checked
            class="form-input"
            type="text"
            id="email"
            name="user-name"
            placeholder="Enter your email"
          />
        </div>
        <div class="form-wrapper">
          <textarea
            required
            class="form-input message"
            name="message"
            id="user-message"
            placeholder="Message"
          ></textarea>
        </div>
        <button type="submit" class="sign-up-btn">Send</button>
        <p for="user-privacy" class="form-agreement">
          By clicking on “Send” button, you agree to our
          <a href="" class="text-pp">Privacy Policy</a>, and allow Promodo to
          use this information for marketing purposes.
        </p>
      </form>
    </div>
    <div class="pictures">
      <div class="lens">
        <img class="lens-pic" src="./images/sign-up/element-1.png" alt="" />
      </div>
      <div class="camera">
        <img class="camera-pic" src="./images/sign-up/element-2.png" alt="" />
      </div>
    </div>
  </div>
</section>
