.marquee {
  overflow: hidden;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .marquee {
    font-size: 40px;
    line-height: 1.13;
  }
}
@media only screen and (min-width: 1280px) {
  .marquee {
    font-size: 59px;
    line-height: 1;
  }
}
.marquee-inner {
  display: flex;
}
.marquee-line {
  flex-shrink: 0;
  padding: 20px 0;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (min-width: 768px) {
  .marquee-line {
    padding: 24px 0;
  }
}
@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
