/* Base styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
  background-color: #121212;
  color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 80px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1280px) {
  .section {
    padding: 150px 0;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 50px;
  }
}
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
