.footer {
    
    color: #FFF;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        background: url(../images/advertisement/net-mob.png) repeat;
        
        
         

}
.address{
    display: inline-flex;
        height: 46px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-shrink: 0;
        margin-top: 16px;  
        margin-bottom: 40px;
         
}
.text-address{
        line-height: 1.28em;
        /* 128.571% */
        text-transform: uppercase;
}
.social-links{
    display: inline-flex;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 75px;
}
.list-footer{
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 14px;
}


.form-footer{
    margin-bottom: 40px;
    white-space: nowrap;
/*width: 100%; */
}
.form-email{
    display: flex;
    align-items: center;
    gap:8px
    
}

.label-email{
color: #121212;
    font-size: 16px;
    line-height: 1.25;
    /* 125% */
    
}
.inpute-footer{
    width: 256px;
    height: 60px ;
    border-radius: 12px;
    padding-left: 18px;
    
}

.bt-footer{
        text-align: center;
        font-size: 20px;
        line-height: 120%; /* 24px */
    width: 60px;
    height: 60px;
    border-radius: 12px;
        background: #1D1D1D;
   
}
.form-footer.inpute-footer[type="submit"] {
        background-color: #4caf50;
        color: white;
        cursor: pointer;
}
.form-footer.inpute-footerinput[type="submit"]:hover {
    background-color: #45a049;
}

 .tex-box{
  display: flex;
   
 }
 .text{
width: 147px;
white-space: nowrap;
 }
 .text-two{
width: 116px;
white-space: nowrap;
margin-left: auto;
 }

 .text.text-two{
        font-size: 12px;
        line-height: 1.33em;
        /* 133.333% */
 }