.footer {
  background-repeat: no-repeat;
  background-image: url(../images/footer/net-mob-footer.png);
}
@media only screen and (min-width: 768px) {
  .footer {
    background-image: url(../images/footer/net-tab-footer.png);
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    background-image: url(../images/footer/net-desk-footer.png);
  }
}
.footer-icon{
  fill:#fff
}
.address {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 46px;
  flex-shrink: 0;
  margin-top: 16px;
  margin-bottom: 40px;
}
.text-address {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28em;
  text-transform: uppercase;
}
.social-links {
  display:flex;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 75px;
}
.list-footer {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  margin-bottom: 14px;
}
.form-footer {
  margin-bottom: 40px;
}
.form-email {
  display: flex;
  align-items: center;
  gap: 8px;
}
.label-email {
  color: #121212;
  font-size: 16px;
  line-height: 1.25;
}
.input-footer {
  width: 267px;
  height: 60px;
  border-radius: 12px;
    background: #FFF;
    border: 1px solid #fff;
    padding-left: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #121212;
      font-size: 16px;
      line-height: 2;
        font-style: normal;
        font-weight: 400;
        
}
.bt-footer {
  background: #1D1D1D;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  min-width: 60px;
  height: 60px;
  border-radius: 12px;
    font-style: normal;
    font-weight: 400;
}
 
.bt-footer:hover,
.bt-footer:focus{
  background: #808080
}
.text-box {
  display: flex;
}
.text{
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.33;
}
  .text-two {
  white-space: nowrap;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 72px;
}
