.header-container {
  width: 1240px;
}
.header-navigation {
  display: flex;
  width: 982px;
  height: 60px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #121212;
  margin: 20px 20px 160px 0px;
}
.header-nav {
}
.header-logo {
  display: flex;
  margin-left: 50px;
}
.logo-style {
}
.caption-position {
  display: flex;

  margin: 22px 20px 22px 208px;
  gap: 40px;
}
.header-caption {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.header-wrapper {
  display: flex;
  margin-left: 20px;
}
.header-btn {
  /* margin-left: 20px; */
}
.header-style {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-flex;
  padding: 16px 84px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #fff;
}
.button-input {
  color: #121212;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}
