.hero {
}
.section {
}
.container {
}
.hero-container {
}

.hero-title {
  /* display: block; */
  width: 295px;

  color: #fff;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -0.04em;

  margin-bottom: 20px;
}
.hero-title-span {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.04em;
}
.hero-text {
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;

  margin-bottom: 40px;
  width: 295px;
}
@media only screen and (min-width: 375px) {
  .hero-text {
    width: 418px;
  }
}

.hero-users-container {
  display: flex;
  gap: 40px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
}
.hero-users {
}
.hero-users-box {
  display: flex;
  width: 109px;

  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 4px;
  margin-right: 40px;
}
.hero-users-list {
  display: flex;
  /* margin-bottom: 4px; */
  min-width: 109px;
}
.hero-users-item {
  cursor: pointer;
}
.hero-users-item:nth-child(1n + 2) {
  margin-left: -6px;
}
.hero-users-item:nth-child(1) {
  z-index: 3;
}
.hero-users-item:nth-child(2) {
  z-index: 2;
}
.hero-users-item:nth-child(3) {
  z-index: 1;
}

.hero-users-img {
}

.hero-users-link {
  display: block;
  width: 67px;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
}
.hero-happy-students {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hero-icon-arrow {
  fill: #fff;
}
.hero-star {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* border-radius: 100px; */
  background: #bea69e;
}
.hero-reviews-box {
  display: flex;
  gap: 12px;
}
.hero-reviews {
}
.hero-reviews-title {
}
.hero-reviews-value {
}
.hero-main-img {
  margin: 0 auto;
}
