.hero {
  position: relative;
  top: 0;
  left: 0;

  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/advertisement/net-mob.png);
}
@media only screen and (min-width: 320px) {
  .hero {
    padding-bottom: 80px;
    background-image: url(../images/advertisement/net-mob.png);
  }
}
@media only screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/advertisement/net-mob@2x.png);
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 100px;
    background-image: url(../images/advertisement/net-tab.png);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/advertisement/net-tab@2x.png);
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    background-image: url(../images/advertisement/net-desk.png);
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/advertisement/net-desk@2x.png);
  }
}
.hero-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: #1d1d1d;
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-container {
    padding-top: 64px;
    padding-left: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container {
    width: 1080px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 80px;
    padding-left: 100px;
    gap: 20px;
  }
}
.hero-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-description2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 1280px) {
  .hero-description {
    justify-content: space-between;
    max-width: 563px;
  }
}
.hero-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    width: 500px;
    font-size: 60px;
    line-height: 1.06;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
  }
}
.hero-title-span {
  color: #bea69e;
  font-style: italic;
}
.hero-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    width: 418px;
  }
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 260px;
  margin-bottom: 31px;
}
@media only screen and (min-width: 768px) {
  .wrap {
    flex-wrap: nowrap;
    gap: 40px;
    max-width: 388px;
    margin-bottom: 40px;
  }
}
.hero-users-box {
  display: flex;
  width: 109px;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 4px;
}
@media only screen and (min-width: 768px) {
  .hero-users-box {
    width: 229px;
    flex-wrap: nowrap;
    row-gap: 12px;
  }
}
.hero-users-list {
  display: flex;
  min-width: 109px;
}
.hero-users-item {
  cursor: pointer;
}
.hero-users-item:nth-child(1) {
  z-index: 3;
}
.hero-users-item:nth-child(2) {
  margin-left: -14px;
  z-index: 2;
}
.hero-users-item:nth-child(3) {
  margin-left: -14px;
  z-index: 1;
}
.hero-users-img {
  transition: transform 330ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-users-img:hover,
.hero-users-img:focus {
  transform: scale(1.1);
}
.hero-happy-students {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
@media only screen and (min-width: 768px) {
  .hero-happy-students {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.hero-happy-students:hover .hero-icon-arrow,
.hero-happy-students:focus .hero-icon-arrow {
  rotate: 450deg;
}
.hero-users-link {
  display: block;
  width: 67px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.04em;
}
.hero-icon-arrow {
  fill: #fff;
  transition: rotate 220ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-star {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #bea69e;
  transition: rotate 330ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-star:hover,
.hero-star:focus {
  rotate: 360deg;
}
.hero-reviews-box {
  display: flex;
  gap: 12px;
}
.hero-reviews-title {
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.28;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .hero-reviews-title {
    font-size: 16px;
    line-height: 1.25;
  }
}
.hero-reviews-value {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .hero-reviews-value {
    line-height: 1.25;
  }
}
.hero-main-img {
  display: flex;
  justify-content: center;
}
.hero-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
