.title-mentors {
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .title-mentors {
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 50px;
  }
}
.title-color {
  color: #bea69e;
}
.list-mentors-wrapper {
  justify-content: center;
  display: flex;
}
.list-mentors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .list-mentors {
    gap: 93px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .list-mentors {
    flex-wrap: nowrap;
  }
}
.list-mentor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 185px;
  height: 240px;
}
@media only screen and (min-width: 768px) {
  .list-mentor {
    width: calc((100% - 100px) / 2);
    height: 250px;
  }
}
@media only screen and (min-width: 1280px) {
  .list-mentor {
    width: calc((100% - 300px) / 4);
    width: 190px;
  }
}
.our-mentor {
  border-radius: 50%;
}
.info-mentors {
  display: block;
  text-align: center;
}
.name-mentors {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .name-mentors {
    font-size: 28px;
    line-height: 1.14;
  }
}
.expierience {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .expierience {
    font-size: 14px;
    line-height: 1.29;
  }
}
