.title-two-reviews {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}
.title-three-reviews {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 4px;
}
.reviews-status {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 1.34;
  letter-spacing: -0.02em;
}
.reviews-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.reviews-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.reviews-section-item {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.reviews-section-item:last-child {
  visibility: hidden;
}
.reviews-star-block {
  margin-left: 65px;
}
.reviews-img {
  margin-right: 10px;
}
.reviews-icons-list {
  display: flex;
  gap: 4px;
}
.reviews-icons {
  fill: #bea69e;
}

.last-icon {
  fill: #414141;
}
.reviews-name-block {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .title-two-reviews {
    font-size: 48px;
    line-height: 1.13;
    margin-bottom: 50px;
  }
  .title-three-reviews {
    line-height: 1.4;
  }
  .reviews-status {
    font-size: 14px;
    line-height: 1.29;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .reviews-section-list {
    margin-bottom: 100px;
  }
  .reviews-section-item {
    width: 640px;
    height: 196px;
    margin-left: 32px;
    position: relative;
  }

  .reviews-star-block {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-section-item:last-child {
    visibility: visible;
  }

  .reviews-section-list {
    margin-bottom: 150px;
  }
  .reviews-section-item {
    width: 530px;
    height: 216px;
    margin-left: 0;
  }
  .reviews-section-list {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
