textarea {
  resize: none;
}

.sign-up-wrap {
  display: flex;
}

.sign-up-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .sign-up-title {
    font-size: 48px;
    line-height: 1.13;
  }
}

.sign-up-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  width: 295px;
}

@media only screen and (min-width: 768px) {
  .sign-up-text {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.32px;
    width: 480px;
  }
}

.form-wrapper {
  display: flex;
}

.form-input {
  display: flex;
  width: 100%;
  height: 46px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 18px;
}

#user-message {
  padding-top: 14px;
}

@media only screen and (min-width: 768px) {
  .form-input {
    width: 480px;
    height: 60px;
  }
}

.form-input.message {
  height: 112px;
}

@media only screen and (min-width: 768px) {
  .form-input.message {
    height: 120px;
  }
}

.sign-up-btn {
  display: flex;
  width: 100%;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 12px;
  background: #fff;
  margin-top: 32px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .sign-up-btn {
    width: 479px;
  }
}

.form-agreement {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .form-agreement {
    font-size: 14px;
    width: 480px;
  }
}

.text-pp {
  text-decoration-line: underline;
}

.pictures {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .pictures {
    margin-left: 60px;
    display: flex;
    gap: 20px;
  }
}

.lens {
  padding-right: 10px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lens-pic {
  margin-top: auto;
}

.camera {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
